<% if (theme.addthis.enable){ %>
  <div class="addthis addthis_toolbox addthis_default_style">
    <% if (theme.addthis.linkedin){ %>
      <a class="addthis_button_linkedin_counter" li:counter="none"></a>
    <% } %>
    <% if (theme.addthis.facebook){ %>
      <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <% } %>
    <% if (theme.addthis.twitter){ %>
      <a class="addthis_button_tweet"></a>
    <% } %>
    <a class="addthis_counter addthis_pill_style"></a>
  </div>
<% } %>

