.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  &:before
    font-family font-icon
    content '\f073'
    padding-right 15px

  &.tag
    &:before
      content '\f02b'

  &.category
    &:before
      content '\f07b'

.archive
  box-shadow 1px 2px 3px color-border
  border-bottom 1px solid color-border
  margin-bottom 50px
  article
    box-shadow none
    .post-content
      margin-bottom 0

article header .title {
   font-size: small
}

article header time {
  font-size: smaller
}


article:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

article .post-content-archive {
  padding: 15px 0px 10px 70px;
}

article .post-content-archive:hover {
  background: rgba(37, 143, 184, 0.20);
}


article .post-content-archive  {
 position: relative
}

